//审核入驻
.enter-info {
  color: @ugc-color;
}

.enter-box {
  position: absolute;
  top: 171px;
  bottom: 0px;
  .enter-item {
    top:0;
    bottom: 0px;
    position: absolute;
    .enter-step {
      margin-top: 20px;
      & a, p {
        display: inline-block;
      }
      & a {
        width: 122px;
      }
    }
  }
}

.enter-vertical {
  position: absolute;
  border-top: none !important;
  border-left: 1px solid #00a8e6;
  left: 25.5px;
  top: 20px;
  bottom: 0px;
  width: 1px;
  z-index: -1;
}

.circle {
  width: 23px;
  height: 23px;
  display: inline-block;
  border-radius: 50% 50%;
  background-color: @ugc-color;
  text-align: center;
  color: #ffffff;
}