<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.business.app.mapper.RunLevelInfoMapper" >
  <resultMap id="BaseResultMap" type="com.business.core.entity.user.RunLevelInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="run_level" property="runLevel" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="honor_image" property="honorImage" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, run_level, name, honor_image, add_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from run_level_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from run_level_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.business.core.entity.user.RunLevelInfo" >
    insert into run_level_info (id, run_level, name,
      honor_image, add_time, modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{runLevel,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{honorImage,jdbcType=VARCHAR}, #{addTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.business.core.entity.user.RunLevelInfo" >
    insert into run_level_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="runLevel != null" >
        run_level,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="honorImage != null" >
        honor_image,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="runLevel != null" >
        #{runLevel,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="honorImage != null" >
        #{honorImage,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.business.core.entity.user.RunLevelInfo" >
    update run_level_info
    <set >
      <if test="runLevel != null" >
        run_level = #{runLevel,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="honorImage != null" >
        honor_image = #{honorImage,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.business.core.entity.user.RunLevelInfo" >
    update run_level_info
    set run_level = #{runLevel,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      honor_image = #{honorImage,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRunLevel" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from run_level_info
    WHERE run_level = #{runLevel}
  </select>

</mapper>